.main {
    display: flex;
    flex-direction: column;
    position: relative;
    height: inherit;
    width: inherit;
    min-height: 745px;
}

.fd {
    height: -webkit-fill-available;
    width: 57%;
    position: absolute;
    top: 40%;
}

.main-logo {
    background-image: url('main-cravings.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 585px;
    height: 200px;
    position: relative;
    top: 8rem;
    right: 10rem;
}

.footer {
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: gray;
}

.lobby-btn {
    z-index: 3;
}