.main h1 {
    font-size: 70px;
    padding: 20px;
}

.main h2 {
    font-size: 50px;
    padding: 20px;
    font-weight: 900;
}

.fd {
    height: -webkit-fill-available;
    width: inherit;
    position: fixed;
}

.cravings-logo {
    background-image: url('cravings.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 50rem;
    height: 30rem;
}

.footer {
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: gray;
}
