@import url('https://fonts.googleapis.com/css?family=Allerta|Barlow+Semi+Condensed|Caveat+Brush|Sawarabi+Gothic&display=swap');
.app {
    background-image: url('splash-bg-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    color: white;
    font-family: 'Caveat Brush', cursive;
}

