.food-drink button {
    margin-left: 60px;
    border-radius: 20px;
    padding: 7px 30px 7px;
    font-size: 15px;
    transition: all .2s ease-in-out;
    font-family: 'Source Sans Pro', sans-serif;
}

.food-drink button:focus {
    outline: none;
}

.food-drink button:hover {
     transform: scale(1.1);
}

.food-drink h3{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}