.food-drink button {
    border-radius: 20px;
    padding: 7px 12px;
    font-size: 30px;
    transition: all .2s ease-in-out;
    font-family: 'Source Sans Pro', sans-serif;
    position: relative;
    left: 82px;
    width: 120px;
    font-weight: bolder;
    border-color: yellow;
    text-shadow: 1px 1px 1px lightslategrey;
}

.food-btn {
    bottom: 3rem;
}

.drink-btn {
    top: 4rem;
}

.food-drink button:focus {
    outline: none;
}

.food-drink button:hover {
     transform: scale(1.1);
}

.food-drink h3{
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 1.5rem;
    left: 5.5rem;
}

.food-drink {
    background-image: url('fooddrink.png');
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 341px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15%;
    margin-bottom: 1%;
    /* position: relative;
    right: 1rem;
    top: 11rem; */
    
}
