.doughnut h1 {
    font-size: 40px;
    color: black;
    padding-top: 10px;
    margin-left: 50px;
    font-family: 'Source Sans Pro', sans-serif;
}

.bg {
    background-image: url('drinkform2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.doughnut h3 {
    color: black;
    margin-left: 50px;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
}

.drink-wheel-btn {
    /* transition: all .2s ease-in-out; */
    text-align: center;
}


.result-btn {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    width: 150px;
    height: 50px;
    border-radius: 25px;
    z-index: 10;
    float: left;
}

.result-btn:focus {
    outline: none;
}

.result-btn:hover {
    background-color: rgb(192, 181, 181);
}

canvas.chartjs-render-monitor {
    font-family: 'Source Sans Pro', sans-serif;
}

.doughnut {
    width: 85%;
}
