.drinks-index-map-container {
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
    width: 100%;
}

.drinks-index-container{
    color: black;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 65%;
}

.drinks-ul {
    /* padding: 40px 40px; */
    /* max-width: 1200px; */
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh;
    min-height: 100vh;
}

.drinks-map-container {
    right: 10px;
    top: 100px;
    flex: 1;
}

.drink-list-item {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    box-shadow: -1px 0px 5px 4px rgba(211, 211, 211, 0.7);
    width: 290px;
    height: 240px;
    margin: 10px;
}

.drink-pictures {
    height: 70%;
    width: 100%;
    background-size: stretch;
    display: block;
}

.drink-pictures img{
    object-fit: cover;
}


.drink-info {
    height: 22%;
    display: block;
    font-size: 15px;
    padding: 10px;
    text-decoration: none; 
    margin: auto;
    background-color: rgb(155, 140, 140);
}

.drink-name-location {
    display: flex;
}
  
.drink-name {
    font-size: 16px;
    margin: auto;
    text-align: center;
    width: 50%;
}
 
    
.drink-location {
    font-size: 13px;
    font-weight: lighter;
    text-align: center;
    width: 50%;
    border: 1px dashed black;
}

.fa-map-marker-alt {
    color: red;
}
    
.drink-link:hover {
    background-color: black;
    cursor: pointer;
}

.drink-info:hover {
    background-color: black;
    cursor: pointer;
}

.drink-photo {
    width: 100%;
    height: 100%;
}


.pick-one {
    text-align: center;
    margin: 60px auto 20px;
    width: 35%;
    padding: 10px;
    font-size: 14px;
    border-radius: 20px;
    transition: all .2s ease-in-out;
    border: none;
}

.pick-one:hover {
    transform: scale(1.1);
    background-color: rgb(212, 78, 78);
}

.pick-one:focus {
    border: none;
    outline: none;
}

.no-results-container {
    display: flex;
    justify-content: center;
    margin: 100px auto;
}

.no-results-for-drink{
    width: 100%;
    text-align: center;
    display: inline-block;
}

.no-results-text {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
    color: black;
    font-weight: bold;
    text-align: center;
}

.no-results-for-drink button {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    width: 70%;
    font-size: 14px;
    border-radius: 20px;
    margin-top: 10px;
    transition: all .2s ease-in-out;
    border: none;
}

.no-results-for-drink button:hover {
    transform: scale(1.1);
    background-color: rgb(212, 78, 78);
}

.no-results-for-drink button:focus {
    border: none;
    outline: none;
}

.rating-static {
  width: 60px;
  height: 16px;
  display: inline-flex;
  opacity: 0.8;
  background: url('http://www.itsalif.info/blogfiles/rating/star-rating.png') 0 0 no-repeat;
}


.rating-50 { background-position: 0 0; }
.rating-40 { background-position: -12px 4px; } 
.rating-30 { background-position: -24px 0; }
.rating-20 { background-position: -36px 0; }
.rating-10 { background-position: -48px 0; }
.rating-0 { background-position: -60px 0; }
.rating-5  { background-position: -48px -16px; }
.rating-15 { background-position: -36px -16px; }
.rating-25 { background-position: -24px -16px; }
.rating-35 { background-position: -12px -13px; }
.rating-45 { background-position: 0 -13px; }



