.food-show-container {
    height: 490px;
    width: 800px;
}

.food-show {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    /* border: 1px solid black; */
    border-radius: 4px;
    height: 300px;
    width: 800px;
}


.food-show-photo {
    width: 50%;
}

.show-photo {
    width: 100%;
    height: 100%;
    border: 1px double black;
    border-radius: 4px 0px 0px 0px; 
}

.food-show-info {
    /* border: 1px solid black;
    border-bottom: transparent; */
    flex: 1;
    padding: 10px 20px;
    border-radius: 0px 4px 0px 0px;
}

.food-show-name {
    font-size: 40px;
}

.food-show-location {
    font-size: 20px;
}

.fa-map-marker-alt {
    color: red;
}

.food-show-price {
    color: black;
    font-size: 20px;
}

.food-save {
    cursor: pointer;
    position: relative;
    bottom: -2rem;
}

.food-save:hover {
    opacity: 0.6;
}

.fa-heart {
    color: red;
}

.food-map-container {
    width: 800px;
    height: 250px;
}

.food-map {
    /* border: 2px solid black; */
    border-radius: 4px;
    z-index: 7;
}