.foods-index-container{
    color: black;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.foods-ul {
    padding: 40px 40px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh;
    min-height: 100vh;
}

.site-additional-info {
    height: 500px;
    width: 500px;
    margin: 0 auto;
    margin-top: 10px;
}

.food-list-items {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    color: white;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    /* background: rgb(204, 200, 200);
    opacity: 0.6; */
    /* box-shadow: 5px 5px 5px 5px rgba(211, 211, 211, 0.7); */
    width: 220px;
    height: 200px;
    min-height: fit-content;
    margin: 10px;
}

.food-pictures {
    height: 70%;
    width: 100%;
    background-size: stretch;
    display: block;
}

.food-pictures img{
    object-fit: contain;
}

.pic-slides {
    object-fit: fill;
}

.food-info {
    height: 20%;
    width: 200px;
    display: block;
    font-size: 15px;
    padding: 10px;
    text-decoration: none; 
    margin: auto;
}

.food-name-tent {
        display: flex;
        justify-content: space-between;
}
  
.food-name {
    font-size: 14px;
    margin: auto;
    text-align: center;
}
 
.fas {
    color: rgb(66, 152, 247);
}
    
.food-location {
    font-size: 12px;
    font-weight: lighter;
    text-align: center;
}

.extra-food-info {
    display: flex;
    justify-content: space-between;        
}

.fas {
    color: rgb(97, 218, 173);
    }    

.food-price {
    font-size: 15px;
    margin: auto;
    }
    
.food-info:hover {
    background-color: rgb(155, 140, 140);
    cursor: pointer;
}

.food-photo {
    width: 85%;
    height: 85%;
    display: block;
}

.pick-one {
    text-align: center;
    margin: auto;
    width: 20%;
    padding: 10px;
    font-size: 14px;
    border-radius: 20px;
    margin-top: 10px;
    transition: all .2s ease-in-out;
    border: none;
}

.pick-one:hover {
    transform: scale(1.1);
}

.pick-one:focus {
    border: none;
}