@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

.food-form {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin-top: 50px;
}

.foodform h2 {
    font-size: 40px;
    text-align: center;

}

.foodform {
    display: flex;
    margin: 0 auto;
}
.food-form input {
    margin: 10px;
}

.foodform-btn {
    margin-left: 60px;
    border-radius: 20px;
    padding: 7px 30px 7px;
    font-size: 15px;
    transition: all .2s ease-in-out;
    background-color: white;
    color: black;
    margin-top: 20px;
    transition: all .2s ease-in-out;
    width: min-content;
}

.foodform-btn:hover {
    transform: scale(1.1);
    background-color: #579bea
}

#food-choosings{
    display: flex;
    flex-direction: row;
    font-family: 'Raleway', sans-serif;
    color: white;
    
}

.choose-food-moods{
    margin-right: 10%;
    border-radius: 5%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0.8;
    width: 100%;
}

label {
    color: white;
}

input:hover, label:hover {
    cursor: pointer;
}

input[type="checkbox"]:checked + label {
    color: #579bea;
    opacity: 1;
}

.choose-locations{
    margin-left: 10%;
    border-radius: 5%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0.8;
    width: 100%;
    height: 90%;
}

.foodform-btn-container{
    margin: auto ;
    font-family: 'Raleway', sans-serif;
}